* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: #4A154B;
}

.main-container {
    box-shadow: 20px 20px 0px #084605;
    height: 100vh;
    width: 95vh;
    max-width: 1920px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #FF4C29;
    background-color: #F9F7F7;
}

.main-header-container {
    background-color: white;
    width: 100%;
    font-size: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #FF4C29;
    font-size: 54px;
    font-weight: 900;
    background-color: #084605;
    color: #F9F7F7;
}

.formdiv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin: 20px auto;
}

.name-surname-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    background-color: #F9F7F7;
    gap: 20px;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.surname-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.forminput-container {
    width: 100%;
    height: 60%;
    border: none;
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
    border: 4px solid #FF4C29;
}

.formlabel-container {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4A154B;
}

.email-container {
    width: 100%;
    height: 15%;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.email-middle-container {
    width: 10%;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #4A154B;
}

.email-prefix-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-domain-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    background-color: #F9F7F7;
    gap: 20px;
    margin-top: 20px;
}

.birthDate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.gender-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.date-input {
    font-family: inherit;
    font-size: 26px;
    text-align: center;
    text-align-last: center;
}

.gender-input {
    text-align: center;
    text-align-last: center;
    cursor: pointer;
}

.phone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.message-container textarea {
    height: 130px;
    resize: none;
    text-align: left;
    padding: 15px;
    font-family: inherit;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}

.checkbox-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.checkbox-label-container {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4A154B;
    cursor: pointer;
    margin-left: 10px;
}

.button-container {
    height: 10%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button-container {
    height: 100%;
    width: 40%;
    color: white;
    background-color: #FF4C29;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 5px;
    transition: opacity 0.4s ease-in-out;
    font-weight: 600;

}

.send-button-container:hover {
    opacity: 0.5;
}

.forminput-container:focus {
    outline: none;
    background-color: #ffece8;
    border-color: #084605;
}